@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body,
#__next {
  height: 100%;
  min-height: 100%;
  /* overscroll-behavior: none; */
}

body {
  -webkit-print-color-adjust: exact !important;
}

#css--particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
}

.btn-primary {
  @apply pt-4 pb-[14px] px-14 cursor-pointer bg-black font-semibold uppercase rounded-md border-2 border-white-400 text-white transition-colors;
}

.btn-primary:hover {
  @apply border-purple-700 bg-purple text-white transition-colors;
}

.btn-secondary {
  @apply min-h-[52px] cursor-pointer pt-4 pb-[14px] px-14 font-semibold uppercase rounded-md border-2 border-red-700 bg-red text-white transition-colors;
}

.btn-secondary:hover {
  @apply bg-white border-black text-black;
}

.btn-black {
  @apply min-h-[52px] cursor-pointer pt-4 pb-[14px] px-14 font-semibold uppercase rounded-md border-2 border-bluedark bg-bluedark text-white transition-colors;
}

.btn-black:hover {
  @apply border-red-700 bg-red text-white transition-colors;
}

.fancy-border-gradient:before {
  inset: 0;
  content: "";
  --angle: 0deg;
  position: absolute;
  border-radius: inherit;
  padding: 1.5px;
  background: conic-gradient(
    from var(--angle),
    #3178c622,
    #3178c644 35%,
    #3178c688 39%,
    #3178c6,
    #3178c688 61%,
    #3178c644 65%,
    #3178c622
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  animation: rotate 3s linear infinite;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

.transition-colors {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
