
.wave-container {
  position: relative;
  left: -25px;
  transform: rotate(90deg);
}

.wave-container .wave-bar {
  display: inline-block;
  width: 5px;
  height: 40px;
  background-color: rgb(71, 71, 71);
  animation: beat1 5s infinite;
  transform-origin: 0 100%;
  transform: scaleY(0.1);
  border-radius: 10px;
}
.wave-container .wave-bar:nth-child(2n) {
  animation-name: beat2;
  animation-delay: 1s;
  background-color: #EEE;
}
.wave-container .wave-bar:nth-child(3n) {
  animation-name: beat3;
  animation-delay: 1.5s;
  animation-duration: 3.5s;
  background-color: #CCC;
}
.wave-container .wave-bar:nth-child(4n) {
  animation-name: beat2;
  animation-delay: 1.4s;
  animation-duration: 3.8s;
}
.wave-container .wave-bar:nth-child(5n) {
  animation-delay: 1.6s;
}
.wave-container .wave-bar:nth-child(6n) {
  animation-delay: 1.2s;
  background-color: #DDD;
}

@keyframes beat1 {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(0.7);
  }
  100% {
    transform: scaleY(0);
  }
}
@keyframes beat2 {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(0);
  }
}
@keyframes beat3 {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(0.3);
  }
  100% {
    transform: scaleY(0);
  }
}